<main class="main">
  <div class="inner">
    <div class="note__wrapper">
     <div class="note__card">
      <% if user_signed_in? && current_user.id == @note.user_id %>
        <div class="note__manage">
          <%= link_to "Edit", edit_note_path(@note.id), class: :note__btn %>
          <%= link_to "Delete", note_path(@note.id), data: { turbo_method: :delete }, class: :note__btn %>
        </div>
      <% else %>
        <div class="note__manage">
         <%= link_to "♥", root_path, class: :note__btn__heart %>
        <%= link_to "follow", root_path, class: :note__btn %>
        </div>
      <% end%>
      <div class="note__image">
        <%= image_tag @note.image %>
      </div>
      <div class="note__body">
        <div class="note__detail">
          <p class="detail__message">
            <%= @note.content %>
          </p>
        </div>
      </div>
       <%= link_to "by #{@note.user.name}", user_path(@note.user), class: :note__user %>
      </div>
      <div class="note__comments">
        <%= form_with model: [@note, @comment], url: note_comments_path(@note), local: true do |f| %>
          <div class="form-row">
            <div class="field2">
              <%= f.text_field :content, id: "comment_content", placeholder: "Add a comment..." %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %>
            </div>
          </div>
        <% end %>
        <ul class="comments_lists">
          <% @note.comments.each do |comment| %>
            <li class="note_list">
              <%= comment.content %>
              <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
